@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {
   height: 100vh;
   width: auto;
}

header {
    background-color: black;
    padding-bottom: 7px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

header > h1 {
    color: red;
    padding: 40px;
    text-align: center;
}

header span {
    color: white;
    cursor: pointer;
}

header nav {
    display: block;
}

header a {
    background-color: rgb(110, 110, 110);
    color: white;
    margin: 4px 0px;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    display: block;
}

header a:hover {
    background-color: red;
}

header a:active {
    font-size: 0.9em;
    box-shadow: inset 0px 0px 5px black;
    transition: 0.1s;
}

main {
    height: auto;
    width: auto;
    padding: 30px;

}

article::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #333; /* Cor da linha */
    margin: 20px 0; /* Espaçamento acima e abaixo da linha */;
}

div#background {
    width: 100%;
    background: white url(../../topics/processador/imagens/processador.jpg) center no-repeat fixed;
    background-size: cover;
    height: 450px;
    margin-bottom: 40px;
    border-radius: 10px;
}

article > h2 {
    margin: 40px 0px;
    text-align: center;
    font-size: 2em;
    font-variant: small-caps;
}

article > h3 {
    font-size: 1.5em;
    margin: 30px 0px;
}

article > h4 {
    font-size: 1.5em;
    margin: 10px;
}

article > p {
    text-align: justify;
    font-size: 1.4em;
    line-height: 1.7em;
    margin: 20px 0px;
}

article img {
    display: block;
    width: 100%;
    border-radius: 10px;
}

article audio {
    display: block;
    margin: auto;
    padding-bottom: 15px;
}

article > ul {
    list-style-position: inside;
    font-size: 1.2em;
}

article  a {
    text-decoration: none;
    font-weight: 600;
    color: red;
}

article a:hover {
    text-decoration: underline;
}

article strong {
    color: rgb(131, 33, 33);
}

footer {
    background-color: black;
    color: white;
    margin-top: 80px;
    padding: 20px;
}

footer > div#titulo > p > a {
    color: red;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}

footer > div#titulo > p > a:hover {
    text-decoration: underline;
}

footer > div#titulo > p {
    text-align: center;
}

footer > div.bloco {
    display: inline-block;
    width: 200px; 
    font-weight: bold;
}

div.bloco > p > a {
    color: white;
    font-weight: normal;
}

div.bloco > p > a:hover {
    color: red;
}


